:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-dark-body: #1E1E1E;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
/*Developed By Christin Joseph (Chris c)*/
body {
  --text-color: #222;
  --bkg-color: #fff;
  --bkg-sidebar-color: #fff;
  --bkg-shade-color: #F2F3F3;
  --bkg-border-color:rgba(0, 0, 0, 0.1);
  --bkg-border-hr-tag:rgb(159 152 152 / 19%);
  --bkg-mobile-ns-card: #fff;
}
body {
    margin: 0;
    padding: 0!important;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bkg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0px;
}
h1{
   color: var(--text-color);
   margin: 0px;
}
h2{
    color: var(--text-color);
    margin: 0px;
}
h3{
    color: var(--text-color);
    margin: 0px;
}
h4{
    color: var(--text-color);
    margin: 0px;
}
h5{
    color: var(--text-color);
    margin: 0px;
}
h6{
    color: var(--text-color);
    margin: 0px;
}
p{
    color: var(--text-color);
    margin: 0px;
}
ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    color: var(--text-color);
}
li {
    list-style-type: none;
    color: var(--text-color);
    margin: 0px;
}
nav{
   width: 100%;
   margin-top: 10px;
   margin-bottom: 28px;
}
.margin-t-10{
    margin-top: 10px;
}
.margin-b-10{
    margin-bottom: 10px;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-b-20{
    margin-bottom: 20px;
}
.margin-t-30{
    margin-top: 30px;
}
.margin-b-30{
    margin-bottom: 30px;
}
.container{
    margin-left: 5rem;
    margin-right: 5rem;
}
.navbar_main{
    display: flex;
}
.menu_tougle{
    display: none; 
}
.logo{
    /**/
}
.mobile_right_search{
    display: none;
}
.search{
   padding-top: 5px;
   padding-left: 15px;
}
.search input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 65px;
    border-radius: 20px;
    border: solid 1px;
}
.sercg_btn{
    margin-left: 11px;
    margin-top: -31px;
}
.search_flex_c{
    display: flex;
}
.right_nav_flex_c{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
}
.text_nav_icon{
    display: block;
}
.right_nav_fl{
    display: flex;
}
.right_nav{
    width: 100%;
    right: 0;
}
.float_right{
    display: flex;
    padding: 8px;
}
.nav_text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}
.rg_box{
    margin-left: 0px;
    margin-right: 0px;
}
.sign_up_btn{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px 16px;

}
/*Navbar End*/
/*Aside Side Bar*/
.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.side-nav--visible {
    pointer-events: auto;
}

.side-nav::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.side-nav__container {
    position: relative;
    width: 100%;
    background: var(--bkg-sidebar-color);
    height: 100%;
    transform: translateX( -102% );
    display: flex;
    flex-direction: column;
    will-change: transform;
}

.side-nav--animatable .side-nav__container {
    transition: transform 0.13s cubic-bezier( 0,0,0.3,1 );
}

.side-nav--visible.side-nav--animatable .side-nav__container {
    transition: transform 0.33s cubic-bezier( 0,0,0.3,1 );
}

.side-nav--visible::before {
    opacity: 1;
}

.side-nav--visible .side-nav__container {
    transform: none;
}

.side-nav__hide {
    position: absolute;
    left: 16px;
    top: 16px;
    background: none;
    border: none;
    color: var(--text-color);
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}


.side-nav__content {
    padding-top: 32px;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 60px;
}

.side-nav__content li {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}
.side-nav__content a{
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.side-nav__content li:hover {
    background: #ccc;
}
.bottom_navbar_tip{
    display: none;
}
/*Side nav end*/
.container_ab{
    margin-left: 5rem;
    margin-right: 5rem;
}
.image_banner{
    width: 100%;
    align-items: center;
    border-radius: 14px;
}
/*banner End*/
.box_categories{
    margin-top: 20px;
    margin-bottom: 20px;
}
.baox_main{
    display: flex;
}
#scrolls {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}
#scrolls::-webkit-scrollbar {
    display: none;
}
.scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}
.box_card_a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border: solid 1px;
    border-radius: 12px;
    margin-right: 6px;
}
.box_card_a:hover {
  background-color: black;
  color: white;
}
.div_font{
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
}
.box_card_a:hover {
  color: white;
}
.div_font:hover {
  color: white;
}
.svg_ui{
    color: white;
}
.categories_ic_clr{
    color: white;
    fill: black;
}
.categories_ic_clr:hover {
  background-color: black;
  fill: white;
}
.flex_d{
    display: flex;
}
/*image and Text 3*/
.card_text_image{
    background-color: #F2F1EC;
    border-radius: 12px;
}
.mobil_left_img{
    display: none;
}
.disk_flex_box{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.iamge_box img{
    border-radius: 7px;
}
.text_boxcy{
    /**/
}
.psf_flex{
    display: flex;
}
.text_boxcy_p{
    padding: 50px;
}
.text_boxcy_p img{
    width: 15%;
}
.text_boxcy_p h1{
    text-align: center;
}
.text_boxcy_p p{
    text-align: center;
}
.hbj_a_tag{
    margin-top: 19px;
    margin-bottom: 19px;
    text-align: center;
}
.text_boxcy_p a{
    text-align: center;
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 20px;
}
/*Loaction Search Box*/
.resent_search_box{
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin_mob_desk{
    margin-top: 100px;
}
.resent_search_box_tittle{
/*    margin-top: 20px;
    margin-bottom: 20px; */ 
}
.box_main_flex{
    display: flex;
    flex-wrap: wrap;
}
.fff_icon_cr{
    display: flex;
    align-items: center;
}
.boc_card_tot{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: auto;
}
.location{
    font-size: 15px;
    font-weight: 700;
}
.district{
    font-size: 15px;
}
.search_box_io{
    display: flex;
}
.ghgv_tytle{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
/*image scroll slider*/

.image_card{
    margin-top: 100px;
}
#image_scrolls {
    list-style: none;
    overflow: auto;
    /*white-space: nowrap;*/
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap:2%;
}
#image_scrolls::-webkit-scrollbar {
    display: none;
}
.rrtt_relative{
    position: relative;
}
.paddle {
  position: absolute;
  z-index: 1;
  top: 200px;
  border: solid 2px;
}

.lefty {
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.righty {
  right: 0;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}
.image_slider_tyty{
    height: 350px;
    object-fit: cover;
}
.hgjubhb{
    position: absolute;
    top: 17px;
    right: 16px;
    background-color: white;
    height: 25px;
    padding: 11px;
    border-radius:50px;
}
.hbjh_u_t{
    background-color: black;
    margin-top: -6px;
}
.image_tittle_uyu{
    color: white;
    padding: 10px;
}
/*Travel Choice*/

.travel_top{
    margin-top: 100px;
}
.main_flex_travel{
    display: flex;
}
.first_texTchris_box{
    background-color: #f5f1f57a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.boc_text_top_padd{
    padding: 30px;
    padding-top: 180px;
    padding-bottom: 0px;
}
.boc_text_top_padd img{
    width: 40%;
}
.travel_choice_tittle{
    font-size: 44px;
    font-weight: 700;
}
.travel_choice_sub_tect{
    font-size: 19px;
    font-weight: 500;
}
.btn_basic_chris{
    border-radius: 10px;
    border: solid 1px;
    padding: 10px;
}
.first_trip_image{
    width:700px;
    height: 300px;
}
.secon_image_clss{
    margin-top: -7px;
}
.second_image_trip_b{
    width:700px;
    height: 300px;
}
/*Get out  there*/
.get_out_there{
    display:flex;
    background-color:#f5f1f57a;
}
.sdsd_padding_hbf{
    padding-top: 100px;
    padding-left: 30px;
}
.font_get_out_tittle{
    font-size: 41px;
    font-weight: 700;
}
.font_get_out_sub_text{
    font-size: 19px;
    font-weight: 500;
}
.gygyg_UYUY_io_image{
    width:70%;
    float: right;
}

/*Footer*/
  
footer{
    background-color:#f5f1f57a;
    margin-top: 50px;
}
.main_boxix_chris{
    padding-top: 50px;
    padding-bottom: 50px;
}
.box_footer_body{
    padding-right: 50px;
}
.display_main_flex_footer{
    display: flex;
}
.box_footer_body_rf{
    width: 20%;
}
.link_main_head{
    font-size: 16px;
    font-weight:400;
    color:#333;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer_lik_a_chris{
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.lang_Flex_country{
    display: flex;
    padding-top: 20px;
}
.lang_ctry{
    padding: 1px;
    margin-right: 5px;
}
.form_select_box_chris{
    padding: 7px;
    border-radius: 4px;
    border: solid 2px;
}
.form_select_box_chris select{
    font-size: 15px;
    font-weight: 400;
}
.footer_bottom_box{
    margin-top: 30px;
}
.footer_bottom_flex{
    display: flex;
    gap: 4%;
}
.box_footer_logo img{
    width: 50%;
}
.copyright_a_box{
    display: flex;
    gap: 15px;
}
.copyright_a_box a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.social_media_flex{
    display: flex;
    gap: 20%;
}



/*Page 2*/



/*Scrooler*/

.scrooljhb{
    border-bottom: solid 1px #9591916b;
    border-top: solid 1px #9591916b;
    padding-top:8px;
    padding-bottom: 8px;
}
.flex_pg_yt_hjgb{
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

#scrolls_tags {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
#scrolls_tags::-webkit-scrollbar {
    display: none;
}
.scrolls_tags { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}
.box_txt{
    margin-left: 10px;
    margin-right: 10px;
}
/*card Slider & in put data*/

.slider_box_yu_rt_pg{
   margin-top: 25px;
}
.container_pg_flex{
    display: flex;
}
.max_pg_width{
    width: 80%;
}
.margin_pg_tyt_top{
    margin-top: 10px;
}
.poshion_reltive_ts{
    position: relative;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.displYpg_flex_yu{
    display: flex;
    gap:2%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 22%;
}
.demo {
  opacity: 0.6;
  width: 100%;
}
.active,
.demo:hover {
  opacity: 1;
}
.image_slider_TYs{
    border-radius: 6px;
    height: 400px;
    width:100%;
    object-fit: cover;
}
.title_top_margin{
    margin-top: 15px;
}
.padding_lf_rt_bx{
    padding-left: 20px;
    padding-right: 20px;
}
.pg_box_slider_flex{
    display: flex;
    justify-content: space-between;
}
.cox_rating_toper{
    background-color: #FF5D5D;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 5px;
}
.heart_iconand_view_atag{
    border: solid 2px #000;
    border-radius :50px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.tittle_pag_Top_as{
    margin-top: 15px;
}
.hb_bs_yu{
    margin-top: 20px;
}
.hgvg_yu_sn{
    border: solid 1px #d5cbcb;
    border-radius: 12px;
    box-shadow: 3px 4px #d5cdcd;
}
.pag_pad_all_u{
    padding: 25px;
}
.flex_fom_inputs_data{
    display:flex;
    gap:3%;
}
.absl_tyty_ui{
    position: absolute;
    padding: 15px;
}
.pag_input_field{
    padding:15px;
    text-align: center;
    border: solid 1px #cdcaca;
    border-radius: 6px;
}
.booking_data_flex_sfx{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ms_width_pg_two{
    width: 50%;
}
.text_second{
    font-size: 15px;
    font-weight: 500;
}
.buttn_box_sub{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.check_availability_btn{
    background-color: #FCC735;
    color: #000;
    border-radius: 15px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
}
.mox_ocon_dj_flex{
    display: flex;
}
.pos_bist_YTR{
    position: absolute;
    padding-top: 8px;
}
.text_sescon_sub{
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
}

/*Tour Snapshot*/

.margin-t-50{
    margin-top: 50px;
}
.som_title_pg_two{
    font-size: 21px;
    color: black;
    font-weight: 600;
}
.bd_gytg_kjn_mca{
    margin-top: 30px;
    border: solid 2px #b5b1b14d;
    border-radius: 7px;
    padding: 60px;
}
.disp_flx_UIfctf_u{
    display: flex;
    justify-content: space-between;
    gap:2%;
}
.fg_UI_page_two{
    width: 30%;
}
.dcdc_disPflex{
    display: flex;
}
.snap_tour_title_pg_tw{
    font-size: 18px;
    font-weight: 400;
    word-break: break-all;
}
/*About data page 2*/
.dscd_flex_pg_tw{
    display: flex;
    gap:5%;
}
.vf_width_pg_tw{
    width: 65%;
}
.dcd_df_flexd_pg_tw{
    display: flex;
}
.dcd_pg_rol_tw{
    width: 30%;
}
.jdnjn_hbh{
    margin-top: 20px;
}

/*Itinerary*/

.fgf_uyf_flex{
    display: flex;
}
.widUG_hg_hbnj{
    width: 50%;
}
.ttt_uuu_mm_j{
    margin-top: 20px;
    margin-bottom: 20px;
}
.fgfg_flx_bxo{
    display: flex;
}
.tytyt_df_rtOI{
    margin-top: 10px;
    margin-bottom: 10px;
}
.yyyyy_c_pg_we{
    border: solid 2px #000;
    border-radius: 50px;
    padding: 15px;
    margin-right: 5px;
}
.fgg_yd_hu{
    font-size: 14px;
    font-weight: 600;
}
.fgfgtryt_wewe{
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
.margin-b-20{
    margin-bottom: 20px;
}
.fgfgf_display_hhFlex{
    display: flex;
}
.gfgg_circle_location{
    border: solid 2px #000;
    border-radius: 50px;
    padding: 15px;
    margin-right: 5px;
}
.ty_op_qw_gh{
    font-size: 14px;
    font-weight: 600;
}
.fgf_dFlex{
    display: flex;
}
.ops_fix_lig_nm{
    margin-top: 20px;
}
.isos_app_app_nx{
    margin-top: 10px;
    margin-bottom: 10px;
}
.fggfgfgfgf_pg{
    border: solid 2px #000;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 5px;
    background-color: #000;
    color: #fff;
}
/*.map_fifty_os{
    width: 50%;
}*/

/*Shop Ticket and Tours*/

#pg_btm_scrolls {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
#pg_btm_scrolls::-webkit-scrollbar {
    display: none;
}
.pg_btm_scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}
.paddle_pg_b {
  position: absolute;
  top: 100px;
  z-index: 1;
}

.lefty_pg_b {
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.righty_pg_b {
  right: 0;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}
.hub_kuihu{
    position: relative;
}
.hus_oijk_ty{
    display: flex;
    gap:1%;
}
.yu_io_nf_t{
    position: relative;
}
.ty_io_bch_gh{
    position: absolute;
    padding: 115px 52px 139px;
}
.ddfdfdfddf_pg_w{
    color: white;
    font-weight: 700;
}
/*ReviewsQ&A*/
.kjki_box_abc_pg_tw{
    margin-bottom: 20px;
}
.tab {
  overflow: hidden;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #fff;
}
.tab button.active {
    text-decoration: underline;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.gvhyvvg_flex_hbdhf{
    display: flex;

}
.box_reviews{
    width: 30%;
}
.box_reviews_abc_qa{
    width: 70%;
}
.box_flex_un_gyvy{
    display: flex;
    gap: 1%;
    align-items: center;
}
.hsbdhb_jhb{
    font-size: 23px;
    text-decoration: underline;
}
.box_circle_g{
    margin-left: 5px;
}
.box_circle_g span{
    background-color: #FF5D5D;
    padding-left: 18px;
    padding-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 5px;
    border-radius: 50px;
}
.jnik_hdgb_flz{
    margin-top: 20px;
}
.jnik_hdgb_flz span{
    display: flex;
    margin-top: 3px;
    justify-content: space-between;
}
.dnfj_bn_hosp_ph_to{
    padding-left: 20px;
    padding-right: 20px;
}
.dcdc_span_icon{
    position: absolute;
    padding: 10px;
}
.dfgfg_jfn_jh{
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 20px;
    border: solid 1px;
    text-align: left;
}
.dfdfdf_box_img_review{
    padding: 25px;
}
.ddf_flx_k_pg_tw{
    display: flex;
    gap: 1%; 
    align-items: flex-end;
    justify-content: space-between;
}
.bsuhjbuh_dldjn{
    display: flex;
    gap: 13px;   
    align-items: flex-end;
}
.usre_icon_image_ph_tw{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.tittle_box_pg_review{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.dfd_fondjn_mk{
    text-decoration: underline;
    margin: 0px;
    font-size: 13px;
}
.met_article_tirj{
    margin-top: 10px;
    margin-bottom: 10px;
}
.yjn_hubu_kj_fnt{
    font-weight: 700;
}
.bottom_dhdf_hr{
    border-bottom: solid #a7a0a0a3 1px;
    margin-top: 20px;
}
/*G & i*/

.jhgbhbjh_uhb{
    padding: 25px;
}
.hbjh_dis{
    display: flex;
    gap: 1%;
    align-items: flex-end;
}
.dfdf_img_yt_fc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.fr_flx_tcv{
    display: flex;
    flex-direction: column;
}
.fgfg_hbudshf_sd{
    margin-top: 10px;
    margin-bottom: 10px;
}
.gvghjbh_hr_ghPh{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: solid #c7bcbc66 1px;
}
